.home-product-item {
  display: block;
  text-decoration: none;
  background-color: white;
  margin-top: 10px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: transform ease-in 0.1s;
  will-change: transform;
  padding: 12px;
  /* height: 1000px; */
}

.home-product-item__info {
  display: flex;
  justify-content: space-between;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
  padding-top: 75%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 12px;
}

.home-product-item__name {
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  line-height: 1.8rem;
  margin: 0 0 4px 0;
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.home-product-item__price {
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
}

.home-product-item__price-current {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 700;
}

.home-product-item__description {
  padding: 0 8px;
  margin-top: 8px;
}

.home-product-item__description-text {
  font-size: 1.2rem;
  color: #666666;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 12px;
  height: 35px; /* Cố định chiều cao phần mô tả */
}

.home-product-item__add-btn {
  width: 100%;
  padding: 8px;
  margin-top: 12px;
  background-color: #ccc;
  border: none;
  border-radius: 20px;
  font-size: 1.4rem;
  color: #ffffff;
  cursor: pointer;
  font-weight: normal;
  transition: background-color 0.2s ease;
}

.home-product-item__add-btn:hover {
  background-color: #dadada;
}
