.category {
  background-color: #fff;
  border-radius: 2px;
  padding: 0 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.category__heading {
  font-size: 1.6rem;
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  color: #333;
}

.category__heading-icon {
  margin-right: 8px;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-item {
  position: relative;
  padding: 8px 0;
}

.category-item--active .category-item__name {
  color: #ee4d2d;
}
